body{
    background-color: rgb(53, 133, 133);
}
.product{
    margin: 6.7% 0;
}
.product h1{
    text-align: center;
    margin-top: 10%;
    color:rgb(57, 220, 220) ;
    font-family: sans-serif;
}
.product li,a{
    color: aliceblue;
    font-size: 2rem;
    margin-left: 2%;
    text-decoration: none;
}
.product a:hover{
    color: rgb(94, 210, 208);
    text-decoration:underline;
}

.footer{
    height: 50px;
    text-align: center;
}
.footer p{
    text-align: center;
}

@media screen and (max-width:870px){
    .product h1{
        margin-top: 15%;
    }
}
@media screen and (max-width:600px){
    .product h1{
        margin-top: 25%;
    }
    .product li,a{
        font-size: 1.5rem;
    }
}